{% extends 'base.html' %}

{% block content %}

<div class="px-4 py-5 my-5" style="background-color:black">
    <img style="color:white; margin-left:10px" src='/images/jacobo.png' width="72" height="77">
    <h5 class="display-5 fw-bold" style="color:white">WIKIPA'TÓ</h5>
  </div>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1 style="text-align:center">{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <ul class="ratings">
        {% for choice in question.choice_set.all %}
            <input style="display:none;" type="radio" class="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label class="star checkmark" for="choice{{ forloop.counter }}"></label>
        {% endfor %}
        </ul>
    </fieldset>
    <div style="
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  ">
    <input class="button-55" type="submit" value="Valorar pregunta">
</div>
</form>



{% endblock %}