{% extends 'base.html' %}

{% block content %}

<div class="px-4 py-5 my-5 text-center" style="background-color:black">
    {% load static %}
    <img style="color:white" src='/images/jacobo.png'class="d-block mx-auto mb-4" width="172" height="177">
    <h1 class="display-5 fw-bold" style="color:white">WIKIPA'TÓ</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:white">En este blog encontrarás las mejores preguntas.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>

<h3 style="text-align:center">-----PREGUNTAS RECIENTES-----</h3>
<p style="text-align:center"> Puedes valorar las preguntas como quieras</p>


{% if latest_question_list %}
    {% for question in latest_question_list %}
    
    <div class="list-group">
    <div class="container" style="margin-bottom:20px">
        <img style="border:solid 2px black;margin-bottom:5px" src='/images/jacobo.png' alt="../img/jacobo.png" width="32" height="32" class="rounded-circle flex-shrink-0">
        <a class="list-group-item list-group-item-action d-flex gap-3 py-3" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        <small class="opacity-50 " >now</small>
    </div>
    </a>

    {% endfor %}
</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}    

{% endblock %}
